body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #32a791;
  background-image: url(../images/foto.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;    
}

.div-form {
  display: flex;
  height: auto;
  color: black;
  justify-content: center;
  margin: auto;
  width: 70%;
  font-size: 30px;
  /* background-color: #32a791; */
  /* background-color: #f0f2f5; */
}

.cards {
  display: flex;
  flex-direction: row;
}

input {
  margin: 0px auto;
  flex-flow: column wrap;
  box-sizing: border-box;
}

label {
  text-align: left;
  padding: auto;
  margin-bottom: 5px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-around;
  flex-flow: column wrap;
  box-sizing: border-box;
 margin-top: 1%;
}

checkbox {
  display:flex;
}

button {
  background-color: #6b7588;
  border-radius: 10px;
  color: black;
  width: 90px;
  height: 25px;
  margin-top: 1%;
}


.imagem {
  text-align: center;
}

h2 {
  text-align: center;
}

